.taskscard{
  background-color: var(--card-bg);
  padding: 1.875rem;
  border-radius: 8px;
  margin: 1rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.taskscard-list {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;

  &__task {
    background-color: var(--task-bg);
    padding: 1.5rem 1.8rem;
    max-height: 100px;  
    border-radius: 10px;
    margin-bottom: 1.3rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__meta {
    display: flex;
    padding-left: 2.6rem;
    align-items: center;
  }

  &__image {
    width: 1.8rem;
    height: 1.8rem;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__done {
    background: var(--card-bg);
    margin-right: 0.6rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.taskscard-list-taglist {
  &__tag {
    display: inline-flex;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 0.3rem 0.5rem; 
    background-color: var(--tag-bg);
    color: var(--tag-clr);
  }
}
