.activitycard {
  padding: 1.5rem 1.8rem;
  background-color: var(--card-bg);
  border-radius: 8px;
  margin: 1rem;
  &__header {
    font-size: 1.7rem;
  }
  &__day {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: var(--text-secondary-clr);
    font-weight: 700;
  }
}
.activity {
  display: flex;
  margin-bottom: 1.3rem;
  &__icon {
    flex: 0 0 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &_done {
      background-color: var(--btn-clr);
    }
    &_upload {
      background-color: var(--blue-clr);
    }
    &_comment {
      background-color: var(--comment-clr);
    }
    &_edit {
      background-color: var(--light-gray-bg);
    }
  }
}

.activity-content {
  display: flex;
  flex-flow: column nowrap;
  &__text {
    margin: 0;
    margin-bottom: 0.4rem;
    font-weight: 700;
  }
  &__date {
    color: var(--text-secondary-clr);
    font-size: 700;
    font-weight: 700;
  }
}
.activity-content-images {
  display: flex;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 8px;
    margin-right: 0.5rem;
  }
}
