.usercard-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 1rem;
  grid-template-areas: 
    "photo name icon"
    "photo position icon";
  margin-bottom: 1.2rem;
}

.usercard_style {
  background-color: var(--gray-bg);
  padding: 1rem 0.7rem;
  padding-left: 1.5rem;
}

.usercard-name_style {
  color: var(--text-light-clr);
  margin: 0 0;
  font-size: 0.875rem;
}
.usercard-position_style {
  color: var(--text-secondary-clr);
  margin: 0 0;
  font-size: 0.75rem;
}

.usercard-grid-photo {
  grid-area: photo;
}
.usercard-photo_size {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}
.usercard-grid-name {
  align-self: end;
  grid-area: name;
}
.usercard-grid-position {
  grid-area: position;
}
.usercard-grid-button {
  grid-area: icon;
}
.usercard-button_style {
  background: transparent;
  border: none;
  height: 50%;
  align-self: center;
  justify-self: center;
  width: 50%;
}
