//TODO refactor selector names

.navlist {
  padding: 0.9rem 0;
}
.navlist-items{
  list-style-type: none;
  color: var(--text-light-clr);
  padding: 0;

  &__item {
    height: 2.5rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 1.5rem;
    position: relative;
  }
  &__item:hover {
    background-color: var(--gray-bg);
    &:before {
      content: "";
      border: 0.2rem solid var(--accent-clr);
      position: absolute;
      left: 0;
      height: calc(100% - 0.4rem);
    }
  }
  
  &__add-button {
    cursor: pointer; 
    color: var(--accent-clr);
    padding-left: 1.5rem;
    background: transparent;
    border: none;
  }

  &__text {
    font-size: 0.875rem;
    &_pos {
      padding-left: 1rem;
      flex: 1 2 100px; 
    }
  }

  &-teamslist-icons {
    display: flex;
  }

  &-teamslist-icons-wrapper {
    background: var(--gray-bg);
    border-radius: 50%;
    width: 1.375rem;
    height: 1.375rem;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-right: 0.3rem;
  }
  &-teamslist-icons-wrapper:last-of-type {
    margin-right: 0;
  }

}
.navlist-type {
  text-transform: uppercase;
  color: var(--text-secondary-clr);
  font-size: 0.75rem;
}

.teams-list-member-icons {
  &__image {
    width: 1.25px;
    height: 1.25px;
  }
}
.project-list-btn {
  cursor: pointer;
  background: transparent; 
  border: none;
}
.menu-item-notifications {
  width: 20px;
  height: 20px;
  background-color: var(--accent-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  font-size: 0.9rem;
}
