.infocard{
  background-color: var(--card-bg);
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem 1.875rem;

  &_big{
    display: grid;
    max-height: 250px;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
       "title plot"
       "info plot";
    column-gap: 1.2rem;
  }
  &_small {
    display: flex;    
    flex-flow: column nowrap;
    width: 45%;
    max-height: 300px;
  }
  &__title{
    font-size: 1.625rem;
    &_small{
      text-align: center;
    }
  }
  &__info {
    font-size: 5rem;
    font-weight: 700;
  }
  &__chart {
    stroke: var(--chart-clr);
    stroke-width: 0.5rem;
    fill: none;
  }
  &__plot {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.infocard-grid-title {
  grid-area: title;
}
.infocard-grid-info{
  grid-area: info;
}
.infocard-grid-plot{
  grid-area: plot;
}
.circle-foreground {
  fill: var(--chart-clr);
}
.circle-background{
  fill: var(--light-gray-bg);
}
.circle-label{
  fill: var(--chart-clr);
  text-anchor: middle;
  font-size: 2.8rem;
  font-weight: 700;
  vertical-align: middle;
}

.circle-content {
  display: block;
	position: absolute;
	top: 0;
	left: 0;
}

