.layout{
  height: 100vh;
  overflow: hidden;
  display: grid;
  background-color: var(--content-bg);
  grid-template-columns: minmax(2fr, 2fr) 10fr;
  grid-template-rows: 7.5rem 1fr;
  grid-template-areas: 
    "nav header"
    "nav content"
}

.layout-grid-nav {
  grid-area: nav;
}
.layout-grid-header {
  grid-area: header;
}
.layout-grid-content {
  grid-area: content;
  overflow: auto;
}

