.nav {
  background-color: var(--nav-bg);
  min-height: 100%;
  font-weight: 700; 
  flex-direction: column;
  display: flex;
  overflow: auto;
}
.navlist-type {
  padding-left: 1.5rem;
}
.nav-tasks {
  color: var(--text-light-clr);
  display: flex;
  padding-left: 1.5rem;
  &__open {
    display:flex;
    flex-flow: column nowrap;
  }
  &__completed {
    display:flex;
    flex-flow: column nowrap;
    margin-right: 1.2rem;
    &_num {
      color: var(--text-light-clr);
      font-size: 1.3rem;
    }
    &_text {
      color: var(--text-secondary-clr);
      font-size: 0.8rem;
    }
  }
}
.nav-menu-list {
  list-style-type: none;
}
.nav-content {
  flex: 1 0 auto;
}
.nav-collab {
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  flex-shrink: 0;
  color: var(--text-light-clr);
  &__link {
    color: var(--accent-clr);
    text-decoration: underline;
    text-decoration-color: var(--accent-clr);
  }
  &__link:visited {
    color: var(--accent-clr);
    text-decoration: underline;
    text-decoration-color: var(--accent-clr);
  }
  &__link:hover, &__link:visited:hover {
    text-decoration-color: var(--text-light-clr);
  }
}
