.home{
  background-color: var(--content-bg);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: calc(300px + 2rem) calc(320px + 2rem) 1fr 1fr;
  grid-template-areas:
    "big big"
    "small small"
    "tasks tasks"
    "activity activity";
  &__small {
    display:flex;
    justify-content: space-between;
  }
}

.home-grid-big {
  grid-area: big;
}
.home-grid-activity {
  grid-area: activity;
}
.home-grid-small {
  grid-area: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-grid-tasks {
  grid-area: tasks;
}

@media (min-width: 1375px) {
  .home {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: calc(300px + 2rem) calc(320px + 2rem) 1fr;
    grid-template-areas:
      "big big activity"
      "small small activity"
      "tasks tasks activity";
  }
}
