.searchbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.7rem;

  &__title{
    color: var(--text-light-clr);
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
  }
  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  &__input {
    width: calc(100% - 4rem);
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    outline: none;
    border: none;
    display: none;
    &_show {
      display: block;
    }
  }
  &__close {
    background: transparent;
    border: none;
    display: none;
    cursor: pointer;
    &_show {
      display: block;
    }
  }
}
