.header{
  padding: 1.9rem 1.875rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-bg);
}
.header-right {
  display: flex;
  align-items: center;
  &__title {
    margin: 0;
    margin-right: 1rem;
    font-weight: 900;
  }
  &__button {
    width: 1.875rem;
    height: 1.875rem;
    display:flex;
    justify-content: center;
    align-items:center;
    border: none;
    border-radius: 50%;
    background-color: var(--light-gray-bg); 
  }
}
.header-left{
  display:flex;
}
