body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --text-light-clr: white;
  --text-secondary-clr: rgba(155,155,155,1);
  --gray-bg: rgba(32,32,32,1);
  --icon-clr: rgba(155,155,155,1);
  --nav-bg: rgba(0, 0, 0, 1);
  --accent-clr: rgba(255, 194, 0, 1);
  --light-gray-bg: rgba(234, 234, 234, 1);
  --btn-clr: rgba(206, 249, 198, 1);
  --chart-clr: rgba(126, 185, 115, 1);
  --card-bg: white;
  --content-bg: rgba(242, 242, 242, 1);
  --task-bg: rgba(247, 246, 243, 1);
  --tag-bg: rgba(255, 241, 226, 1);
  --tag-clr: rgba(237, 100, 0, 1);
  --comment-clr: rgba(255, 248, 221, 1);
  --blue-clr: rgba(227, 239, 255, 1);
  --text-gray-clr: rgba(19, 19, 19, 1);
}
